<h1>Flight Index</h1>

<%= form_with url: "/flights", method: :get do |f| %>
  <div>
    <%= f.label "Origin" %><br />
    <%= f.select(:origin_id,
                 options_for_select(@airport_options, params[:origin_id]),
                 required: true ) %>
  </div>

  <div>
    <%= f.label "Destination" %><br />
    <%= f.select(:destination_id,
                 options_for_select(@airport_options, params[:destination_id]),
                 required: true ) %>
  </div>

  <div>
    <%= f.label "Number of Passengers" %><br />
    <%= f.select(:passenger_count,
                 options_for_select([1, 2, 3, 4], params[:passenger_count]),
                 required: true ) %>
  </div>

  <div>
    <%= f.label "Date" %><br />
    <%= f.date_field :departure_date,
                      value: params[:departure_date],
                      required: true,
                      placeholder: "dd/mm/yyyy" %>
  </div>

  <div>
    <%= f.submit "Find Flights" %>
  </div>
<% end %>

<% if @booking_options %>
  <div class="flight-results">
    <h2>Available Flights:</h2>
    <%= form_with url: "bookings/new/", method: "get", local: true do |f| %>
    <%#= form_with url: ":id/tickets/new/", method: "get", local: true do |f| %>
    <%#= form_with model: @booking, method: "get", local: true do |f| %>
      <%= f.hidden_field :passenger_count, :value => params[:passenger_count] %>
      <% @booking_options.each do |booking| %>
        <p>
          <% if booking[1] %>
            <%= f.radio_button :booking_option, [booking[0].id, booking[1].id] %>
            <%= booking[0].details %>
            <strong>plus layover</strong> with <%= booking[1].details %>
          <% else %>
            <%= f.radio_button :booking_option, booking[0].id %> <%= booking[0].details %>
          <% end %>
        </p>
      <% end %>
      <%= f.submit %>
    <% end %>
  </div>
<% end %>