<%= form_with model: @booking, local: true do |f| %>
  <% if @booking.errors.any? %>
    <div>
      <p class="sub-title error-content">
        <%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:
      </p>
      <ul>
        <% @booking.errors.each do |error| %>
          <li class="error-content"><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :booking_option, :value => params[:booking_option] %>
  <%= f.hidden_field :passenger_count, :value => params[:passenger_count] %>

  <%= f.fields_for :passengers do |passenger_form| %>
    <div class="new-passenger-container">
      <div class="form-field">
        <%= passenger_form.label :name %>
        <%= passenger_form.text_field :name,
                          required: true,
                          placeholder: "Frank Abagnale Jr." %>
      </div>

      <div class="form-field">
        <%= passenger_form.label :email %>
        <%= passenger_form.text_field :email,
                          required: true,
                          placeholder: "frank@abagnale.com" %>
      </div>
    </div>
  <% end %>

  <div class="form-button">
    <%= f.submit "Finalize Booking" %>
  </div>
<% end %>
