<%= form_with model: @booking, local: true do |f| %>
  <% if @booking.errors.any? %>
    <div>
      <h3><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h3>
      <ul>
        <% @booking.errors.each do |error| %>
          <li>
            <%= error.full_message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :booking_option, :value => params[:booking_option] %>
  <%= f.hidden_field :passenger_count, :value => params[:passenger_count] %>

  <%= f.fields_for :passengers do |passenger_form| %>
    <div class="passenger-container">
      <div class="form-field">
        <%= passenger_form.label :name %><br />
        <%= passenger_form.text_field :name,
                          required: true,
                          placeholder: "Jane Doe" %>
      </div>

      <div class="form-field">
        <%= passenger_form.label :email %><br />
        <%= passenger_form.text_field :email,
                          required: true,
                          placeholder: "user@example.com" %>
      </div>
    </div>
  <% end %>

  <div class="form-button">
    <%= f.submit "Submit Booking" %>
  </div>
<% end %>
