<h1>Booking New Page</h1>

<p>
  Passenger Count: <%= @passenger_count %>
</p>
<p>
  Ticket Count: <%= @booking.tickets.count %>
</p>
<% @flights.each do |flight| %>
  <p>
    Flight Info: <%= flight.details %>
  </p>
<% end %>

<h3>
  Passenger Information:
</h3>
<%= form_with url: "tickets/new/", method: "get", local: true do |f| %>

  <% @passenger_count.times do %>

    <%= f.fields_for :passenger do |passenger_form| %>
    <%= passenger_form.hidden_field :flight_id, :value => params[:booking_option][0] %>
      <div>
        <%= passenger_form.label :name %><br />
        <%= passenger_form.text_field :name,
                          required: true,
                          placeholder: "Jane Doe" %>
      </div>

      <div>
        <%= passenger_form.label :email %><br />
        <%= passenger_form.text_field :email,
                          required: true,
                          placeholder: "user@example.com" %>
      </div>

    <% end %>
  <% end %>
  <%= f.submit %>
<% end %>
