<h1>New Ticket Page</h1>
<p>
  Booking Count: <%= @booking_count %>
</p>

<h3>
  Passenger Information:
</h3>
<%= form_with model: @ticket, local: true do |form| %>

    <%= form.fields_for :passengers do |passenger_form| %>
      <div>
        <%= passenger_form.label :name %><br />
        <%= passenger_form.text_field :name,
                          required: true,
                          placeholder: "Jane Doe" %>
      </div>

      <div>
        <%= passenger_form.label :email %><br />
        <%= passenger_form.text_field :email,
                          required: true,
                          placeholder: "user@example.com" %>
      </div>
    <% end %>

  <%= form.submit "Submit Booking" %>
<% end %>
